.Dashboard {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
}

.Dashboard__SearchInputContainer {
    position: relative;
    display: flex;
    border: 2px solid rgba(0,0,0, 0.55);
    width: 34rem;
    height: 2rem;
    border-radius: 21px;
}

.Dashboard__SearchInput {
    background-color: transparent;
    width: 100%;
    padding: 1rem;
    font-size: 1.125rem;
    border: none;
}
.Dashboard__SearchInput:focus {
    outline: none;
}
.Dashboard__SearchButton {
    border: none;
    background-color: transparent;
    font-weight: bold;
    text-transform: uppercase;
}
.Dashboard__Badge {
    display: flex;
    margin: 0 0.375rem;
    align-items: center;
    justify-content: space-between;
    border: 2px solid rgba(0,0,0, 0.55);
    height: 1rem;
    padding: 0.25rem;
    border-radius: 13px;
}
.Dashboard__TagsContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
}
.Dashboard__CloseButton {
    display: flex;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    align-items: center;
}
.Dashboard__Search {
    display: grid;
    grid-row-gap: 0.875rem;
}
